* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    .publishNav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 129px;
      width: 100%;
      border-bottom: 1px solid #f1f1f1;
  
      .socialMedia {
        min-height: 129px;
        display: flex;
        align-items: center;
        gap: 10px;
  
        i {
          border: 1px solid #f1f1f1;
          border-radius: 50%;
          font-size: 17px;
          width: 10%;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #4d4d4d;
          transition: 0.4s;
          cursor: pointer;
  
          &:hover {
            border: none;
            background-color: #95adbe;
            color: #ffffff;
          }
        }
      }
  
      .publishCompanyLogo {
        min-height: 129px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
  
        h2 {
          font-family: Lora, serif;
          font-size: 22px;
          font-weight: 900;
          line-height: 26px;
  
          span {
            color: #ff7a5c;
            font-family: Lora, serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
          }
        }
  
        p {
          font-family: Lora, serif;
          font-size: 13px;
          font-weight: 500px;
          line-height: 16px;
          color: rgba(0, 0, 0, 0.3);
        }
      }
  
      .search {
        min-height: 129px;
        display: flex;
        align-items: center;
        justify-content: end;
  
        .searchInp {
          min-height: 52px;
          min-width: 300px;
          border-radius: 30px;
          background-color: #efefef;
          display: flex;
          align-items: center;
          justify-content: space-around;
  
          #searchInp {
            width: 80%;
            min-height: 40px;
            border: transparent;
            background-color: transparent;
            margin-left: 10px;
  
            &::placeholder {
              font-family: Roboto, Arial, sans-serif;
              font-weight: 400;
              font-size: 14px;
              color: rgba(0, 0, 0, 0.7);
            }
          }
  
          #searchBtn {
            background-color: #95adbe;
            border-top-right-radius: 30px;
            width: 20%;
            min-height: 52px;
            border: none;
            color: #fff;
            border-bottom-right-radius: 30px;
          }
        }
      }
    }
  
    .navBar {
      width: 100%;
      min-height: 71px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .navbarCnt {
        width: 58%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        .navUl {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          li {
            a {
              font-family: Lora, serif;
              font-size: 13px;
              color: #000000;
              font-weight: 500;
              transition: 0.4s;
  
              &:hover {
                color: #95adbe;
              }
            }
          }
        }
      }
    }
  }


main{
    #cartAll{
        width: 100%;
        min-height: 600px; 
        display: flex;
        align-items: center;
        justify-content: center;

        #cartProducts {
            width: 100%;
            min-height: 500px;
            display: flex;
            flex-wrap: wrap;
    
            .box {
                width: 33%;
                min-height: 350px;
                display: flex;
                justify-content: center;
                flex-direction: column;
    
                img {
                    width: 65%;
    
                }
    
                p {
                    color: #141517;
                    font-size: 22px;
                    font-weight: 700;
                    font-family: poppins;
                }
    
                button {
                    background-color: #141517;
                    font-size: 14px;
                    line-height: 57px;
                    color: #fff;
                    font-weight: 700;
                    border: none;
                    transition: 0.5s ease;
                    width: 40%;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    &:hover {
                        background-color: transparent;
                        color: #141517;
                        border: 1px solid #141517;
                    }
                }
            }
        }
    
    }
}


footer {
  min-height: 100px;
  width: 100%;
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: center;

  .footerTxt {
    min-height: 125px;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;

    span {
      color: rgba(255, 255, 255, 0.5);
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;

      span {
        color: #ffffff;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          color: #95adbe;
        }
      }
    }
  }
}